.frame{
  text-align: center;
}
iframe  {
  margin: 5em 0;
  box-shadow: 10px 10px 10px black
}
button{
  padding: 1em;
  border-radius: 10px;
  border: none;
  background-color:rgba(128, 128, 128, 0.466);
  font-weight:700;
  transition: all 0.2s;
  cursor: pointer;
}
button:hover{
  background-color:gray
}
button:first-child{
  position: absolute;
  top: 50%;
  left: 35%;
}
button:last-child{
  
  position: absolute;
  top: 50%;
  right: 5%;
}